
body{
    padding-top: 10%;
    width: 100%;
    background-color: bisque;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
header{
    display: flex;
    position: fixed;
    background-color: coral;
    width: 100%;
    align-items: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    top: 0;
    left: 0;
    right: 0;
}
header img{
    width:5%;
    height:5%;
    padding: 1%;

}
navbar{
    width :100%;
    height: 10%;
    display: flex;
    justify-content: flex-end;
    gap:5%;
    list-style: none;
    margin-right: 2%;
}
navbar div{
    height: 10%;
    width: 10%;
    padding: 2%;
}
div a{
    text-decoration: none;
    font-size: 100%;
    font-weight: bolder;
    color: black;
}

.container{
    display: flex;
}

.container img{
    width:30%;
    padding:10%;
    border-radius: 35%;
}

.right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1%;
    flex-wrap: wrap;
}
.gallery img{
    width: 150px;
    height: 150px;
    margin:"10px";
    padding: 5px;
    margin: 5px;
    border-radius: 10%;
    background-color: white;
}
.gallery{
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    align-content: space-around;
}
.galimg:hover{
    height: 250px;
    width: 250px;
    border-radius: 0;
    background-color: black;
}
th{
    padding: 2%;
}
td{
    padding: 2%;
}
.btn {
    margin-top: 20px;
    font-size: 20px;
    background-color:coral;
    color: black;
    border-radius: 10px;
}
 button:hover{
    color:white;
    background-color: brown;
    font-size: 30px;
    border-radius: 10px;
}
navbar div:hover,.active{
    color: black;
background-color: white;
border-radius: 5%;
}